/*
===================
Leggero CSS Styles
===================
Inspired by: http://pluxml.org theme default
-------------------
mod by liquibyte
Name: Leggero
Author: NoWhereMan & drudo
Version: 0.1
Module: admin.css

last change: 2023-11-01

*/

@import url('common.css');
@import url('globals.css');

/* ===== VARIOUS ===== */
.buttonbar input {
	padding: .3em;
	background: #bdbdbd url('../imgs/buttonsh.png') repeat-x
}

.buttonbar input:hover {
	padding: .3em;
	background: #d3d3d3 url('../imgs/buttonsh2.png') repeat-x
}

/* ===== HEADERS TAGS ===== */
h1,
h2 { 
	font-family: "book antiqua", georgia, garamond, times, "times new roman", serif;
	margin: auto
}

h2 { border-bottom: 1px solid #ddd; margin: 0.5em 0 }

#admin-content h2,
#admin-content form h2 {
	font-style: normal;
	padding: unset
}

body { background: #eee }

/* === Redefines some stuff in inline mode === */
body#inline-body { background: white }


/* ===== Smartphone and Tablet ===== */
@media (max-width: 1920px) { /* prevents too large font size on mobile devices */
	#body-container {
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		text-size-adjust: none
	}
}

/* === Conflict with inner h1 === */
#admin-content h1 { color: black }


/* DIV CONTAINER ALL ADMIN DIV BLOCK */
#cpmain { padding: 10px }


/* ===== SMALL NAVBAR (home and logout links) ===== */
ul#admin-small-nav {
	font-size: 80%;
	float: right;
	list-style-type: none
}

ul#admin-small-nav li { display: inline; margin: 5px }


/* ===== TAB MENU ===== */
ul#admin-tabmenu {
	margin: 1em 0 0 0;
	padding: .5em;
	background: #000;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px
}

ul#admin-tabmenu li {
	display: inline;
	font-size: 85%;
	font-weight: normal;
	text-decoration: none
}

ul#admin-tabmenu li a {
	color: #fff;
	line-height: 2em;
	font-weight: normal;
	text-decoration: none;
	padding: 0.5em;
	margin: .1em
}

ul#admin-tabmenu li a.admin-tab-current,
ul#admin-tabmenu li a:hover {
	color: black;
	font-weight: normal;
	background-color: #ddd;
	-moz-border-radius: 2px
}

ul#admin-tabmenu li a.admin-tab-current { font-weight: bold }


/* ===== submenu ====== */
#admin-submenu {
	background: #eee; 
	padding: .5em;
	border: 1px solid #ccc;
}

#admin-submenu li { display:inline; font-size: 80% }

#admin-submenu li a {
	padding: 0 1em ;
	color: #000;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	font-weight: normal
}

#admin-submenu li a:hover,
#admin-submenu li a.active {
	color: #eee;
	background: #555;
	padding: .1em 1em .3em;
	-moz-border-radius: 3px;
	text-decoration: none
}

#admin-submenu li a.active { font-weight: bold }


/* ===== MAIN MENU ITEM ===== */
#admin-content { padding: 1em }

.admin-mainmenu-item {
	display: block;
	padding: 1em;
	clear: both
}

.admin-mainmenu-item img { padding-right: 1em }

.admin-mainmenu-item .admin-icon-descr {
	font-size: 80%;
	font-style: italic
}


/* ===== ADMIN ENTRY ===== */
input#subject {
	width: 99%;
	font-size: 1.3em;
	color: #333333;
	font-weight: bold
}

textarea.code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 90%
}

#admin-entry-categories ul {
	display:block;
	list-style-type: none;
	margin-right: 10px;
	padding-left: 1em
}

#admin-bbcode-toolbar select { width: 10em }

#admin-content table { width: 100% }

#admin-content td {
	font-size: 0.8em;
	/* 
		with display:block on the main-cell link, let's disable this
		padding: .9em;
	*/
	background: #e6e6e6;
	text-align: center
}

#admin-content .enabled td { background: inherit } 

#admin-content td.main-cell {
	width: 30%;
	text-align: left
}

#admin-content th {
	font-size: 0.75em;
	font-style: italic;
	background: #ccc;
	text-align: center;
	padding: 8px
}

input.maxsize, select.maxsize { width: 99% }

#admin-bbcode-toolbar {
	margin: 0;
	padding: 0;
	padding-right: 0.7%;
	display: table;
	border: none
}

#admin-bbcode-toolbar p {
	display: table-cell;
	vertical-align: middle;
	line-height: 1em
}

#admin-bbcode-toolbar p img {
	vertical-align: middle;
	cursor: pointer
}

#admin-bbcode-toolbar legend { display: none }

#admin-content ul,
#admin-content ol { margin-left: 2em }

#admin-entry-uploader iframe {
	border: none;
	width: 99%;
	margin: auto;
	height: 11em
}

#plugin-table td { padding: 1em .6em }

.admin-entry-commentlist td ,
.admin-widgets-blockparser td ,
.admin-plugin-default td { padding: 1em .6em }

#admin-drafts {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding:  .4em;
	color: #555;
	background-color: #ddd;
	overflow: auto
}

#admin-drafts p {
	font-weight: bold;
	float: left;
	padding: 0;
	margin: 0
}

#admin-content #admin-drafts ul { margin: 0; padding: 0 }

#admin-drafts li {
	float:left;
	list-style-position: inside;
	margin: 0; padding-left: 1em
}


/* ===== PREVIEW SETTINGS ===== */
#post-preview { min-width: 39em }

#post-preview .entry { padding: 2em; max-height: 20em; overflow: auto }

#post-preview div.entry h2,
#post-preview div.entry h3 { border-bottom: none }

#post-preview div.entry h2 {
	font-style: italic;
	margin: 0;
	padding: 1em 0 1em 0
}

#post-preview div.entry h4 { margin: 2em 0 0 0 }

.entry-footer { text-align: right }

#post-preview .entry img { /* Responsive images */
	max-width: 100%;
	height: auto
}

#post-preview .entry figure,
#post-preview .entry .photoswipe {
	max-width: 100%;
	overflow: hidden
}

/* ===== UPLOAD PANEL ===== */
/* Global for all themes in admin/uploader/uploader.css */

/* ===== THEME PANEL ===== */
#current-theme h5, 
#available-themes h5 { font-size: 1em }

#current-theme {	
	margin-bottom: 4em;
	overflow:hidden
}

#current-theme img { 
	float:left;
	border: 1px solid #ddd;
	margin-right: 2em
}

#available-themes { clear: both }

#available-themes img { border: 1px solid #eee }

#available-themes ul { list-style-type: none }

#available-themes ul li {
	float:left;
	padding: 1em;
	border: 1px solid #fff;
	text-align: center;
	width: 300px
}

#available-themes ul li:hover {
	background: #eee;
	border: 1px solid #ddd
}


/* ===== WIDGET PANEL ====== */
/* Global for all themes in admin/widgets/admin.widgets.css */


/* ===== CONFIG PANEL ===== */

.option-set .option-list { margin-bottom: 3em }

.option-list ul li { list-style-type: none }

.option-set dt {
	width: 33%;
	text-align:right;
	margin-top: 0.5em;
	line-height: 1em;
	font-weight: bold;
}

.option-set dt label { padding-top: .2em }

.option-list dd label {
	position: relative;
	vertical-align: middle;
	display: flex
}

.option-set dd {
	margin-left: 35%;
	bottom: 1.24em;
	line-height: 1.5em;
	position: relative
}

.option-set dd p { margin: 0 }

.option-set dd p.text {
	display: inline;
	vertical-align: middle
}

.option-list dd code {
	position: relative;
	font-size: 1em
}

.option-set dd input{ margin-bottom: .2em }

.textinput, .bigtextinput, .smalltextinput { padding: .1em }

.textinput:focus, .bigtextinput:focus, .smalltextinput:focus { font-weight: bold }

.widetextinput {
	width: 99%;
	font-size: 1.3em;
	color: #333333
}

.option-set input.textinput ,
.option-set select.textinput { width: 20em }

.option-set input.bigtextinput { width: 30em }

.option-set input.smalltextinput { width: 5em }


/* ===== SPECIAL HOVERS ====== */
a.link-disable, 
a.link-delete, 
a.link-enable,
a.link-general {
	padding: .9em
}

td.main-cell a.link-general { display: block }

a.link-disable:hover, a.link-delete:hover {
	background-color: red;
	color: white
}
a.link-enable:hover {
	background-color: green;
	color: white
}

a.link-general:hover, .main-cell a:hover {
	background-color: #aaa;
	color: black
}


/* ===== NOTIFICATIONS ===== */
.hint { cursor: help }

.draft { background-color: #333 }

/* (already defined in common, here we put just some tuning settings) */
#admin-content ul.msgs { margin: 0 }

form { margin: auto }


/* ===== PHP Info ===== */
/* unset Leggero -style */
#phpinfo, #phpinfo h1, #phpinfo h2, #phpinfo tr, #phpinfo td, #phpinfo .e, #phpinfo .h, #phpinfo .v  { margin: unset; text-align: unset; letter-spacing: unset; background: unset; font-family: unset }
#phpinfo h2 { border-bottom: unset }

/* set phpinfo()/ php.net -style */
#phpinfo, #phpinfo h2, #phpinfo h2 a { font-family: sans-serif; font-size: 16px }
#phpinfo body { background-color: #fff; color: #222; font-family: sans-serif }
#phpinfo pre { margin: 0; font-family: monospace }
#phpinfo a:link { color: #009; text-decoration: none; background-color: #fff }
#phpinfo a:hover { text-decoration: underline }
#phpinfo table { border-collapse: collapse; border: 0; width: 100%; box-shadow: 1px 2px 3px #ccc }
#phpinfo .center { text-align: center }
#phpinfo .center table { margin: 1em auto; text-align: left }
#phpinfo .center th { text-align: center !IMPORTANT }
#phpinfo td, #phpinfo th { border: 1px solid #666; font-size: 75%; vertical-align: baseline; padding: 4px 5px }
#phpinfo th { position: sticky; top: 0; background: inherit }
#phpinfo h1 { font-size: 150% }
#phpinfo h2 { font-size: 125% }
#phpinfo .p { text-align: left }
#phpinfo .e { background-color: #ccf; width: 33.33%; font-weight: bold }
#phpinfo .h { background-color: #99c; font-weight: bold }
#phpinfo .v { background-color: #ddd; max-width: 33.33%; overflow-x: auto; word-wrap: break-word }
#phpinfo .v i { color: #999 }
#phpinfo img { float: right; border: 0 }
#phpinfo hr { width: 100%; background-color: #ccc; border: 0; height: 1px }
