/*
===================
Leggero CSS Styles
===================
Ispired by: http://pluxml.org theme default
-------------------

Name: Leggero
Author: NoWhereMan & drudo
Version: 0.2
Module: common.css

last change: 2022-03-13

*/



/* ===== GENERAL (redefinition HTML tag) ===== */
html {
	font-size: 85%;
	font-family: 'Lucida Grande', 'Trebuchet MS', arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0
}

body {
	font-size: 100%;
	padding: 0;
	/* text-align: center; */
	background: white url(../imgs/backshade.png) repeat-x;
	color: black;
    width: 100%
}

hr { display: none }

p { margin: .5em 0 }

img { border: none }

/* Responsive Design img */
img {
  max-width: 100%;
  height: auto;
}

/*
 * Caution: The .center definition is used both by the Quickgallery and the ExtendedImg plugin!
 */
 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* Plugin: QuickGallery */

.img-gallery img {
  display: inline;
  margin: 0.4em;
}

/* Plugin: QuickGallery */

.img-gallery img .center {
  display: inline;
}

blockquote {
	width: 90%;
	color: #666;
	margin: 1em 1em;
	padding: 0 10px;
	border-left: 5px solid #bbb
}

pre, code {
	font-family: Lucida Console, Monaco, monospace;
	font-size: 90%;
}

pre {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #efefef;

	overflow: auto;
	width: 90%;
	margin: 1em 1em 2em 1em;
	padding: 1em 0.5em;
	
	/* fix overflow in IE */
	min-height: 40px; 
	height: auto !important; 
	height: 40px; 
}

ul, li, ol { margin: 0; padding: 0 }

/* === Form === */
form { margin: 1em 0 }

fieldset {
	margin: 0 0 1em 0;
	padding: .5em;
	border: #ddd solid 1px
}

legend {
	color: #666666;
	font-size: 80%;
	font-style: oblique
}

input, textarea, select {
	padding: .2em;
	border: 1px solid #999;
	color: #222;
	background-color: #eee;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px solid #AA1111;
	background-color: #fff
}

textarea {
	font-size: 100%;
	font-family: 'Lucida Grande', 'Trebuchet MS', arial, Helvetica, sans-serif;
	width: 99%;
	margin-top: .1em;
	margin-bottom: 1em
}



/* ===== LINKS GENERAL ===== */
a:link, a:visited {
	color: #aa4142;
	font-weight: bold;
	text-decoration: none
}

a:hover {
	color: #c37676;
	text-decoration: underline
}



/* ===== HEADERS TAGS ===== */
h1 {
	/* Title of the blog */
	font-size: 2em;
	letter-spacing: 2px;
	margin: 2em 0 0 0.5em
}

h2 { } /* see h2.date */

h3 {
	/* Titles of the entry */
	font-family: 'book antiqua', georgia, garamond, times, 'times new roman', serif;
	font-style: italic;
	font-size: 1.5em;
	color: #333333;
	margin: 0;
    padding: 1em 0 1em 0;
}

h4 { font-size: 1.2em; }



/* ===== DIV CONTAINER ALL ELEMENTS BLOCK ===== */
#body-container {
	text-align: left;
	/*width: 760px !important;
	width: 748px; /* fix for I.E. */
    width: 85%;
	margin: 0 auto;
    max-width: 68em;
	/* padding: 5px; */
    padding: 0.3em;
	border: solid 1px #ccc;
	background-color: white
}



/* ===== HEAD ===== */
#head {
    clear: both;
	font-family: 'book antiqua', georgia, garamond,  times, 'times new roman', serif;
	/* padding: 95px 10px 5px 5px;
	margin: 10px;
	background: #c37676 url('../imgs/shade.png') repeat-x;
	border: #bbb 1px solid */
    margin: 1em;
    padding: 7em 0.6em 0.5em 0.5em;
    border-radius: 1em;
    border: 0;
    background-image: linear-gradient( #aa4142, #c37576);
    /* background: #aa4142 */
}

#head a { color: white; text-decoration: none }
#head a:hover { color: white; text-decoration: underline }

.subtitle {
	font-size: 100%;
	font-style: oblique;
	color: #F1F1F1;
	margin: .5em 0 1em 1.2em
}



/* ===== DIV CONTAINER "MAIN" ===== */
#outer-container {
	/* position: relative;
	height: 1%;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid white; /* problem with I.E. */
    width: 100%;
	background-color: white
}



/* ===== MAIN ===== */
#main h4 { margin: 2em 0 0 0}

#main {
	float: left;
	/* position: relative;
	width: 508px !important;
	width: 478px; */
    width: 62%;
	font-size: 100%;
	margin: 1em;
}

#main p { line-height: 1.5em; margin-top: 1.2em; }

/* #main img { margin: 0.5em } */

#main img.emoticon { margin: 0; padding: 0 }

/* === List === */
#main ul {
	list-style-type: disc;
	padding: 0 0 0 1.6em
}

#main ol {
	list-style-position: inside;
	padding: 0 1.6em 0 1.6em
}

	#commentform fieldset p { margin: 0 0 .5em 0 }
	
	#comments li {
		margin: 0 0 1.5em 0;
		padding: 5px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		background: #efefef
	}
	
	/* === Class of main block === */
	h2.date {
		font-size: 80%;
		color: #aaa;
	}
	
	.date { /* date under titles of the entry */
		font-size: 80%;
		font-style: oblique;
		color: gray;
		margin: .2em 0 0 0
	}
	
	/* .entry class */
	.entry {
		margin: 0 0 1.5em 0;
		padding: 0;
		overflow: auto; /* floating images fix IE<7*/
	}
	
	#main>.entry {
		overflow: hidden; /* rest of the world :) */
	}
	/* end of .entry */
	
	#main ul.entry-footer { /*  entry footer */
		clear: both;
		font-size: 80%;
		color: gray;
		margin: 2em 0 .5em 0;
		text-align: right;
	}
	
	.entry-footer li { 
		display: block;
	}
	
	
	.admincontrols { /* [edit] and [delete] */
		font-size: 80%;
		text-align: right;
	}
	
	.buttonbar { text-align: center }
	
	.buttonbar input {
		text-align: center;
		margin: .1em .5em;
		padding: 0 1em
	}
	
	.navigation { /* next entries & previous entries link */
		font-size: 80%;
		margin-bottom: 5em
	}


/* ===== FOOTER ===== */
#footer {
	clear: both;
	font-size: 80%;
	color: #555;
    background-color: #dcdcdc;
	padding: 1em;
    margin: 0 1em 1em 1em;
    text-align: center;
	border-top: #bbb 1px solid
}
