/*
===================
Leggero CSS Styles
===================
Ispired by: http://pluxml.org theme default
-------------------

Name: Leggero
Author: NoWhereMan & drudo
Version: 0.2
Module: common.css

last change: 2023-11-01

*/


/* ===== GENERAL (redefinition HTML tag) ===== */
html {
	font-size: 85%;
	font-family: "Lucida Grande", "Trebuchet MS", arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0
}

body {
	font-size: 100%;
	padding: 0;
	/* text-align: center; */
	background: white url('../imgs/backshade.png') repeat-x;
	color: black;
	width: 100%
}

hr { display: none }

p { margin: .5em 0 }

img { border: none }

/* Responsive Design img */
#main .entry img {
	max-width: 100%;
	height: auto
}

#main .entry figure,
#main .entry .photoswipe {
	max-width: 100%;
	overflow: hidden
}

/*
 * Caution: The .center definition is used both by the Quickgallery and the ExtendedImg plugin!
 */

.center {
	display: block;
	margin-left: auto;
	margin-right: auto
}

/* Plugin: QuickGallery */

.img-gallery img {
	display: inline;
	margin: 0.4em
}

/* Plugin: QuickGallery */

.img-gallery img .center { display: inline }

blockquote {
	width: 90%;
	color: #666;
	margin: 1em 1em;
	padding: 0 10px;
	border-left: 5px solid #bbb
}

pre, code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 90%
}

pre {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #efefef;
	overflow: auto;
	width: 90%;
	margin: 1em 1em 2em 1em;
	padding: 1em 0.5em;
	min-height: 40px; 
	height: auto !important; 
	height: 40px
}

ul, li, ol { margin: 0; padding: 0 }

/* === Form === */
form { margin: 1em 0 }

fieldset {
	margin: 0 0 1em 0;
	padding: .5em;
	border: #ddd solid 1px
}

legend {
	color: #666666;
	font-size: 80%;
	font-style: oblique
}

input, textarea, select {
	padding: .2em;
	border: 1px solid #999;
	color: #222;
	background-color: #eee;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px solid #AA1111;
	background-color: #fff
}

input[type=radio], input[type=checkbox] { height: 12px }

textarea {
	font-size: 100%;
	font-family: "Lucida Grande", "Trebuchet MS", arial, Helvetica, sans-serif;
	width: 99%;
	margin-top: .1em;
	margin-bottom: 1em
}


/* ===== LINKS GENERAL ===== */
a:link, a:visited {
	color: #aa4142;
	font-weight: bold;
	text-decoration: none
}

a:hover {
	color: #c37676;
	text-decoration: underline
}


/* ===== HEADERS TAGS ===== */
h1 {
	/* Title of the blog */
	font-size: 2em;
	letter-spacing: 2px;
	margin: 2em 0 0 0.5em
}

h2 {
	/* Titles of the entry */
	font-family: "book antiqua", georgia, garamond, times, "times new roman", serif;
	font-style: italic;
	font-size: 1.5em;
	color: #333333;
	margin: 0;
	padding: 1em 0 1em 0
}

h3 {
	margin: 0;
	font-size: 1.3em;
	padding: 1em 0 0.2em 0
}

h4 { font-size: 1.2em }


/* ===== DIV CONTAINER ALL ELEMENTS BLOCK ===== */
#body-container {
	text-align: left;
	width: 85%;
	margin: 0 auto;
	max-width: 68em;
	padding: 0.3em;
	border: solid 1px #ccc;
	background-color: white
}


/* ===== HEAD ===== */
#head {
	clear: both;
	font-family: "book antiqua", georgia, garamond,	times, "times new roman", serif;
	margin: 1em;
	padding: 7em 0.6em 0.5em 0.5em;
	border-radius: 1em;
	border: 0;
	background-image: linear-gradient( #aa4142, #c37576)
}

#head a { color: white; text-decoration: none }
#head a:hover { color: white; text-decoration: underline }

.subtitle {
	font-size: 100%;
	font-style: oblique;
	color: #F1F1F1;
	margin: .5em 0 1em 1.2em
}


/* ===== DIV CONTAINER "MAIN" ===== */
#outer-container {
	width: 100%;
	background-color: white
}


/* ===== MAIN ===== */
#main h4 { margin: 2em 0 0 0}

#main {
	float: left;
	width: 62%;
	font-size: 100%;
	margin: 1em
}

#main p { line-height: 1.5em; margin-top: 1.2em }

#main img.emoticon { margin: 0; padding: 0 }

/* === List === */
#main ul {
	list-style-type: disc;
	padding: 0 0 0 1.6em
}

#main ol {
	list-style-position: inside;
	padding: 0 1.6em 0 1.6em
}

#commentform fieldset p { margin: 0 0 .5em 0 }

#comments li {
	margin: 0 0 1.5em 0;
	padding: 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #efefef
}

	/* === Class of main block === */
h6.date {
	font-size: 80%;
	color: #aaa
}

.date { /* date under titles of the entry */
	font-size: 80%;
	font-style: oblique;
	color: gray;
	margin: .2em 0 0 0
}

	/* .entry class */
.entry {
	margin: 0 0 1.5em 0;
	padding: 0;
	overflow: auto
}

#main>.entry { /* rest of the world :) */
	overflow: hidden
}
	/* end of .entry */

#main ul.entry-footer { /*	entry footer */
	clear: both;
	font-size: 80%;
	color: gray;
	margin: 2em 0 .5em 0;
	text-align: right
}

.entry-footer li { display: block }

.admincontrols { /* [edit] and [delete] */
	font-size: 80%;
	text-align: right
}

.buttonbar { text-align: center }

.buttonbar input {
	text-align: center;
	margin: .1em .5em;
	padding: 0 1em
}

.navigation { /* next entries & previous entries link */
	font-size: 80%;
	margin-bottom: 5em
}

/* Search form */
#search label { vertical-align: middle }

form#search ul { list-style-type: none }

/* BBcode toolbar for comments */
.bb-btn-tlb p { display: table-cell }

.emoticons { margin-top: 0.5em }

.bb-btn-tlb p button,
.emoticons button {
	border: 1px solid #999;
	cursor: pointer;
	background-color: #eee;
	margin-top: 0.3em;
	padding: 1px;
	height: 23px;
	width: 32px
}

.bb-btn-tlb p button:hover,
.emoticons button:hover {
	border: 1px solid #AA1111;
	background-color: #fff
}

#bb_url img,
#bb_mail img,
#bb_h2 img,
#bb_h3 img,
#bb_h4 img,
#bb_ul img,
#bb_ol img,
#bb_quote img,
#bb_code img,
#bb_html img,
#bb_font img,
#bb_b img,
#bb_i img,
#bb_u img,
#bb_del img {
	margin: 0;
	vertical-align: middle;
	padding: 0.06em 0
}

/* ===== FOOTER ===== */

#footer {
	clear: both;
	font-size: 80%;
	color: #555;
	background-color: #dcdcdc;
	padding: 1em;
	margin: 0 1em 1em 1em;
	text-align: center;
	border-top: #bbb 1px solid
}
