/*
===================
Leggero CSS Styles
===================
Ispired by: http://pluxml.org theme default
-------------------

Name: Leggero
Author: NoWhereMan & drudo
Version: 0.2
Module: style.css

last change: 2022-03-12

*/



/* imports common style ruleset */
@import url(common.css);
@import url(globals.css);

/* imports column (where widgets usually go) rules */
@import url(column.css);

/* defines rules specific to the front page */
body { margin: 80px 0 0 0 }

#comments li.comment-admin {
	padding:1em
}

#comments li.comment-admin strong.comment-name { font-size:140% }

#widget-searchbox form {
	/* text-align: center; */
}

/* 800er Bildschirme zum Beispiel iPad Hochformat */
@media only screen and (max-width: 768px) { 

#main {
  width: 100%;
  margin: 0;
  padding: 1em 0.5em 0 0.5em;
}

#main ul.entry-footer {
  margin: 0;
  padding: 2em 0 1em 0 ;
  width: 98%;
  text-align: right;
}

#column {
  width: 100%;
  font-size: 80%;
  margin: 0;
  padding: 1em 0.5em 2em 0.5em;
  /* border: 1px solid red; */
  overflow: auto;   /* shit, bei 84% Bildbreite wird es eng! */
}

}
   
/* Kleinbildschirme */
@media only screen and (max-width: 480px) { 

body {
  margin: 1px 0 0 0;
  padding: 0;
  width: 100%;
}

#body-container {
  margin: 0;
  padding: 0.5em;
  width: 96%;
  border: none;
}

#head {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0.5em 0 0 0.2em;
}

.subtitle {
  margin: 0;
  padding: 0.5em 0.5em 1em 0.5em;
}

#main {
  margin: 0;
  padding: 1em 0.4em 0 0;
  width: 100%;
}

.entry {
  margin: 0;
  padding: 0 0.5em 1em 0.5em 
}

#main ul.entry-footer {
  margin: 0;
  padding: 2em 0 1em 0;
  width: 98%;
  text-align: right;
}

#main pre {
  margin: 0;
  padding: 0 0 0 1.5em;
}

#column {
  margin: 0;
  padding: 0;
  width: 100%;
}


}      