/*
===================
Leggero CSS Styles
===================

Name: Leggero v2
Author: NoWhereMan, drudo & Marc Thibeault
Version: 0.1
Module: style.css
*/

/* imports common style ruleset */
@import url(common.css);
@import url(globals.css);

/* imports column (where widgets usually go) rules */
@import url(column.css);

#comments li.comment-admin {
	padding: 1em
}

#widget-searchbox form {
	text-align: center
}

/* Last Comments-Widget */
.comment-quote {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	border-radius: 3px
}

/* Calendar-Widget */
.calendar {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: small !IMPORTANT
}

