/*
===================
Leggero CSS Styles
===================

Name: Leggero v2
Author: NoWhereMan, drudo & Marc Thibeault
Version: 0.1
Module: style.css
*/

/* imports common style ruleset */
@import url(common.css);
@import url(globals.css);

/* imports column (where widgets usually go) rules */
@import url(column.css);

#comments li.comment-admin {
	padding:1em
}

#comments li.comment-admin strong.comment-name { font-size:140% }

#widget-searchbox form {
	text-align: center;
}
