/*
===================
FlatPress Setup CSS
===================

Name: Leggero v2
Author: NoWhereMan, Dave Shea, Matthew Mullenweg and Fraenkiman
Version: 1.0.1
Module: setup.css
*/

@viewport { width: device-width }

body {
	background: #fff;
	color: #535c6f;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 70%;
	text-align: center;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none
}

#header {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-weight: normal;
	font-style: italic;
	font-size: 300%;
	text-align: center;
	border-bottom: 1px solid #bbb
}

#main {
	margin: auto;
	width: 500px;
	text-align: left
}

a { color: #aa4142; text-decoration: none }

a img { border: none }

a:hover { color: #aa4142; border-bottom: 1px solid #333 }

a:visited { color: #aa5152 }

h1 :nth-child(1) { /* logo-small.gif */
	vertical-align: bottom;
    width: 28px;
    margin: 5px 0
}

h1 :nth-child(2) { color: #535c6f }

h1 :nth-child(3) { color: #aa4142 }

pre, code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 100%;
    color: #3b68bf
}

.storycontent { overflow: hidden }

.post {
	padding: 0.2em 1em;
	background: #eee;
	border: solid thin #ddd;
	font-size: 120%;
	border-radius: 5px
}

dt {
	width: 40%; 
	margin-top: 1.8em; 
	text-align: right; 
	line-height: 1.5em
}

dd {
    margin-top: -1.5em;
    margin-right: 10%;
    float: right;
    line-height: 1.5em
}

dl { margin: 1.8em 0 }

.alignleft { float: left }

.alignright, #buttonbar { float: right }

input, select {
	font-size: 130%;
	font-family: sans-serif;
	border: 1px solid #ddd;
	border-radius: 3px;
}

input[type=text],
input[type=password] {
	width: 16em;
	font-size: 100%;
	background-color: #fff;
	vertical-align: middle
}

input:hover,
input:focus,
textarea:hover, 
textarea:focus { border: 1px solid #aa4142 }

#buttonbar { padding: 0; margin-top: 1.6em }

input[type=submit] { cursor: pointer; font-size: 100% }

#footer { padding-top: 20px }
