parameters:
  phpVersion: 70200
  level: 3 # Intermediate level for PHP 7.2
  paths:
    - .
    - fp-admin
    - fp-content
    - fp-includes
    - fp-plugins

  ignoreErrors:
    # Typical problems with old code that can be ignored for the time being
    - '#Call to an undefined method.*#'
    - '#Access to an undefined property.*#'
    - '#Parameter .* expects.*, .* given#'
    - '#Variable .* might not be defined#'
    - '#Function .* not found.*#'
    - '#Constant .* not found.*#'
    - '#Trying to access property .* on non-object#'

  checkMissingVarTagTypehint: false
  reportUnmatchedIgnoredErrors: false
