parameters:
  level: 3 # Intermediate level for old and new PHP versions
  paths:
    - . # Main directory, all PHP files such as index.php, admin.php, etc.
    - fp-admin
    - fp-content
    - fp-includes
    - fp-plugins

  ignoreErrors:
    # Typical problems with old code that can be ignored for the time being
    - '#Call to an undefined method.*#'
    - '#Access to an undefined property.*#'
    - '#Parameter .* expects.*, .* given#'
    - '#Variable .* might not be defined#'
    - '#Function .* not found.*#'
    - '#Constant .* not found.*#'
    - '#Trying to access property .* on non-object#'

  checkMissingIterableValueType: false
  checkMissingVarTagType: false
  reportUnmatchedIgnoredErrors: false
  checkGenericClassInNonGenericObjectType: false
