parameters:
  phpVersion: 80300
  level: 4 # Slightly higher for more modern PHP

  paths:
    %currentWorkingDirectory% # Everything, including root and folder

  ignoreErrors:
    # Only really unavoidable, dynamic patterns (if necessary)
    - '#Call to an undefined method.*#' # Optional: Falls Plugins dynamisch sind
    # Do NOT ignore all other errors so that real problems are noticed

  checkMissingVarTagTypehint: false
  reportUnmatchedIgnoredErrors: false
