img.floatleft {
	float:left;
	padding-right:10px;
}

img.floatright {
	float:right;
	padding-left:10px;
}

.bbcode_video.right {
	float:right;
	border:0px;
}

.bbcode_video.left {
	float:left;
	border:0px;
}

.bbcode_video.nofloat {
	display:block;
	border:none;
	/* disable next line if you do NOT want videos to be displayed centered */
	margin: 0 auto;
}