/* Compatibility with user-contributed themes affected by #201 */
.support-data {    
	font-family: open-sans, sans-serif !IMPORTANT;
	font-style: normal !IMPORTANT;
	color: #000000 !IMPORTANT;
	background-color: #ffffff !IMPORTANT
}

.support-data h2 {
	font-family: open-sans, sans-serif !IMPORTANT;
	color: #000000 !IMPORTANT;
	margin-bottom: 0 !IMPORTANT;
	font-style: normal !IMPORTANT;
	font-size: 1.6em !IMPORTANT;
	border-bottom: 1px solid #ddd !IMPORTANT
}

.support-data h3 {
	font-family: open-sans, sans-serif !IMPORTANT;
	font-style: normal !IMPORTANT;
	font-size: 1.4em !IMPORTANT;
	color: #000000 !IMPORTANT;
	margin: 0.5em 0 0 0 !IMPORTANT;
}

.support-data p {
	line-height: unset !IMPORTANT;
	margin-top: unset !IMPORTANT;
	font-family: open-sans, sans-serif !IMPORTANT;
	font-style: normal !IMPORTANT;
	font-size: 1em !IMPORTANT;
	margin: 0.5em 0 !IMPORTANT
}

.support-data ul {
	margin-left: 2em !IMPORTANT;
	padding-top: unset !IMPORTANT;
	padding-bottom: unset !IMPORTANT
}

.support-data ul li {
	list-style-type: none !IMPORTANT
}

.support-data ul li::before {
	content: unset !IMPORTANT
}

/* Colored output */
.support-data .error {
	color: #990000
}

.support-data .attention {
	color: #D35400
}

.support-data .success {
	color: #0E7924
}

/* hidden code block - only becomes visible when pasted - onion juice ink - magic */
.support-data .codeblock {
	background-color: #ffffff !IMPORTANT;
	margin: 0 !IMPORTANT;
	font-size: 0px !IMPORTANT
}

