/*
 * Name: Emoticons CSS
 * Author: Fraenkiman
 * Version: 1.0.0
 * Module: emoticons.css
 * Description: This file defines the style of the emoticons
 */
 
.emoticons a, .emoticons a:hover {
	text-decoration: none !IMPORTANT;
	text-shadow: none !IMPORTANT;
	font-weight: normal !IMPORTANT
}
