/*
===================
FlatMaas CSS Styles
===================
Ispired by: http://csszengarden.com/?cssfile=http://maas-online.nl/zengarden/layout.css
Home page: http://www.maas-online.nl
mod by liquibyte
-------------------

Name: FlatMaas
Author: Luciano Porro (drudo)
Version: 0.0.1
Module: admin.css
*/

@import url('common.css');

/* small navigation on top */
#admin-small-nav {
	float: right;
	font-size: 80%
}

#admin-small-nav li { display: inline }

h1 { color: #000 }


/* tab menu */
ul#admin-tabmenu {
	margin: 1em 0 0 0;
	text-align: center;
	background-color: #999977;
	padding: 1em 1em 0 1em;
	border: solid #999977
}

ul#admin-tabmenu li {
	display: inline;
	color: #555533;
	font-size: x-small;
	font-weight: normal;
	text-decoration: none;
	background-color: #CCCCAA 
}

ul#admin-tabmenu li a {	
	color: #555533;
	padding: 0.5em;
	line-height: 2em;
	font-weight: normal;
	text-decoration: none;
	background-color: #CCCCAA 
}

ul#admin-tabmenu li a:hover {
	color: #555533;
	font-weight: normal;
	background: #BBBB99 /* url('../imgs/arrow.gif') center right no-repeat} */
}

ul#admin-tabmenu a#admin-tab-current {
	font-weight: bold;
	background-color: white
}

#admin-content {
	border: 1px solid #999977;
	padding: 1em;
	overflow: hidden
}

.admin-mainmenu-item {
	display: block;
	padding: 1em;
	clear: both
}

.admin-mainmenu-item img { padding-right: 1em }

.admin-mainmenu-item .admin-icon-descr {
	font-size: x-small;
	font-style: italic
}

/* panel container */
#cpmain { text-align: justify; width: 100% }

#admin-entry-categories ul {
	margin-right: 10px;
	display: block;
	padding-left: 1em;
	list-style-type: none
}

#admin-bbcode-toolbar p {
	display: table-cell;
	vertical-align: middle;
	line-height: 1em
}

#admin-bbcode-toolbar p img {
	vertical-align: middle;
	cursor: pointer
}

#admin-bbcode-toolbar button,
.emoticons button {
	border: none;
	background-color: initial;
	padding: 0;
	margin-top: 0;
	height: 18px;
	width: 20px
}

#admin-bbcode-toolbar select { width: 10em }

#admin-content table { border-collapse: collapse; width: 100% }

#admin-content td {
	border-bottom: solid 1px black;
	width: 8px;
	font-size: 0.8em;
	padding: 4px
}

#admin-content td.main_cell {
	text-align: left;
	font-weight: bold;
	width: 30%
}

#admin-content th {
	border-bottom: solid 2px black;
	padding: 4px;
	font-size: 0.75em;
	text-align: left;
	font-style: italic
}

#admin-content ul,
#admin-content fieldset ul {
	margin-left: unset;
	list-style: none
}

#admin-content fieldset p {
	text-align: left;
	line-height: 1.5em;
	margin-top: 1.2em
}

.admin-entry-write #admin-content fieldset p.date { text-align: center }

#admin-content ul li::before,
#admin-content fieldset p.date::before,
#admin-content fieldset ul li::before { content: "\00BB \0020" }

#admin-bbcode-toolbar {
	border: none;
	padding: 0;
	padding-right: 0.7%;
	margin: 0
}

#admin-bbcode-toolbar legend { display: none }

#admin-content ul { margin-left: 2em }

/* preview settings */
#post-preview { min-width: 54em }

#post-preview .entry { padding: 2em }

/* notifications */
.draft { background-color: lightgrey }

/* (already defined in common, here we put just some tuning settings) */
#admin-content ul.msgs {
	margin-left: 0em;
	padding: 1em 2em;
	margin-bottom: 2em
}

/* conflict with inner h1 */
#admin-content h1 { color: black }


/* ===== submenu ====== */
#admin-submenu {
	background: #eee; 
	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #ddd; 
	text-align: center;
	padding: .1em .3em .2em
}

#admin-submenu li { display: inline; font-size: 80% }

#admin-submenu li a {
	padding: 0 1em ;
	color: #000;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;  
	font-weight: normal
}

#admin-submenu li a:hover {
	padding: .1em 1em .3em; 
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 3px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;  
	text-decoration: none
}

#admin-submenu li a.active {
	color: #000;
	background: #fff;
	font-weight: bold;
	padding: .1em 1em .3em;
	border: 1px solid #bbb;
	border-top: 3px solid #bbb;
	border-bottom: 1px solid #fff
}


/* ===== MAIN MENU ITEM ===== */
#admin-content { padding: 1em }

.admin-mainmenu-item {
	display: block;
	padding: 1em;
	clear: both
}

.admin-mainmenu-item img { padding-right: 1em }

.admin-mainmenu-item .admin-icon-descr {
	font-size: 80%;
	font-style: italic
}


/* ===== ADMIN ENTRY ===== */
input#subject {
	width: 99%;
	font-size: 1.3em;
	color: #333333;
	font-weight: bold
}

textarea.code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 90%
}

#admin-entry-categories ul {
	display: block;
	list-style-type: none;
	margin-right: 10px;
	padding-left: 1em
}

#admin-bbcode-toolbar p { display: inline }

#admin-bbcode-toolbar select { width: 10em }

#admin-content table { width: 100%; border-collapse: collapse }

#admin-content td {
	width: 8px;
	font-size: 0.8em;
	padding: 4px;
	border-bottom: solid 1px black
}

#admin-content td.main_cell {
	width: 30%;
	text-align: left;
	font-weight: bold
}

#admin-content th {
	font-size: 0.75em;
	font-style: italic;
	border-bottom: solid 2px black;
	padding: 4px
}

input.maxsize, select.maxsize { width: 99% }

#admin-bbcode-toolbar {
	margin: 0;
	padding: 0;
	padding-right: 0.7%;
	border: none
}

#admin-bbcode-toolbar legend { display: none }

#admin-content ul,
#admin-content ol { margin-left: 2em }

#admin-entry-uploader iframe {
	border: none;
	width: 99%;
	margin: auto;
	height: 11em
}

#plugin-table-body td { padding: 1em .6em }

#admin-drafts {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding:  .4em;
	color: #555;
	background-color: #ddd;
	overflow: auto
}

#admin-drafts p {
	font-weight: bold;
	float: left;
	padding: 0;
	margin: 0
}

#admin-content #admin-drafts ul {margin: 0; padding: 0 }

#admin-drafts li {
	float: left;
	list-style-position: inside;
	margin: 0; padding-left: 1em
}


/* ===== PREVIEW SETTINGS ===== */
#post-preview .entry { padding: 2em }

#post-preview div.entry h2 { margin-top: 1.2em }

#post-preview div.entry h3 { font-size: 1.3em }

#post-preview div.entry h4 { margin: 1.5em 0 1em 0 }

#post-preview ul { list-style: none; padding: 0 0 0 1.6em }

#post-preview  ol { list-style-position: inside; Padding: 0 1.6em 0 1.6em }

#post-preview .entry img {
	max-width: 100%;
	height: auto
}

#post-preview .entry figure,
#post-preview .entry .photoswipe {
	max-width: 100%;
	overflow: hidden
}

/* ===== UPLOAD PANEL ===== */
/* Global for all themes in admin/uploader/uploader.css */

/* ===== THEME PANEL ===== */
#available-themes ul li::before { content: none }

#current-theme h5, 
#available-themes h5 { font-size: 1em }

#current-theme { margin-bottom: 4em; overflow: hidden }

#current-theme img { 
	float: left;
	border: 1px solid #ddd;
	margin-right: 2em
}

#available-themes { clear: both }

#available-themes img { border: 1px solid #eee }

#available-themes ul { list-style-type: none }

#available-themes ul li {
	float: left;
	padding: 1em;
	border: 1px solid #fff;
	text-align: center;
	width: 300px
}

#available-themes ul li:hover { background: #eee; border: 1px solid #ddd }


/* ===== WIDGET PANEL ====== */
/* Global for all themes in admin/widgets/admin.widgets.css */


/* ===== CONFIG PANEL ===== */
#admin-config dl { margin-bottom: 4em }

#admin-config dt {
	width: 33%;
	text-align: right;
	margin-top: 1.8em;
	line-height: 1.5em;
	font-weight: bold
}

#admin-config dt label { padding-top: .2em }

#admin-config dd {
	margin-left: 35%;
	margin-top: -1.5em;
	line-height: 1.5em
}

#admin-config dd p { margin: 0 }

#admin-config dd input{ margin-bottom: .2em }

#admin-config input.textinput,
#admin-config select.textinput { width: 20em }

#admin-config input.bigtextinput { width: 30em }

#admin-config input.smalltextinput,
#qs-number.smalltextinput { width: 5em }


/* ===== SPECIAL HOVERS ====== */
a.link-disable, a.link-enable { padding: .9em }

a.link-disable:hover {
	background-color: red;
	color: white
}

a.link-enable:hover {
	background-color: green;
	color: white
}


/* ===== NOTIFICATIONS ===== */
.hint { cursor: help }

.draft { background-color: lightgrey }

/* (already defined in common, here we put just some tuning settings) */
#admin-content ul.msgs {
	margin-left: 0em;
	margin-bottom: 2em;
	padding: 1em 2em
}

form { margin: auto }


/* ===== PHP Info ===== */
/* unset Leggero -style */
#phpinfo, #phpinfo h1, #phpinfo h2, #phpinfo tr, #phpinfo td, #phpinfo .e, #phpinfo .h, #phpinfo .v  { margin: unset; text-align: unset; letter-spacing: unset; background: unset; font-family: unset }
#phpinfo h2 { border-bottom: unset }

/* set phpinfo()/ php.net -style */
#phpinfo, #phpinfo h2, #phpinfo h2 a { font-family: sans-serif; font-size: 16px }
#phpinfo body { background-color: #fff; color: #222; font-family: sans-serif }
#phpinfo pre { margin: 0; font-family: monospace }
#phpinfo a:link { color: #009; text-decoration: none; background-color: #fff }
#phpinfo a:hover { text-decoration: underline }
#phpinfo table { border-collapse: collapse; border: 0; width: 100%; box-shadow: 1px 2px 3px #ccc }
#phpinfo .center { text-align: center }
#phpinfo .center table { margin: 1em auto; text-align: left }
#phpinfo .center th { text-align: center !IMPORTANT }
#phpinfo td, #phpinfo th { border: 1px solid #666; font-size: 75%; vertical-align: baseline; padding: 4px 5px }
#phpinfo th { position: sticky; top: 0; background: inherit }
#phpinfo h1 { font-size: 150% }
#phpinfo h2 { font-size: 125% }
#phpinfo .p { text-align: left }
#phpinfo .e { background-color: #ccf; width: 33.33%; font-weight: bold }
#phpinfo .h { background-color: #99c; font-weight: bold }
#phpinfo .v { background-color: #ddd; max-width: 33.33%; overflow-x: auto; word-wrap: break-word }
#phpinfo .v i { color: #999 }
#phpinfo img { float: right; border: 0 }
#phpinfo hr { width: 100%; background-color: #ccc; border: 0; height: 1px }
