/*
===================
Leggero CSS Styles
===================
Ispired by: http://pluxml.org theme default
-------------------

Name: Leggero
Author: NoWhereMan & drudo
Version: 0.1
Module: style.css
*/

/* ===== The column is styled in the comon.css file ===== */
