parameters:
  phpVersion:
    min: 70100 # PHP 7.1
    max: 80300 # PHP 8.4
  level: 4  # Medium level

  bootstrapFiles:
    - phpstan-bootstrap.php

  excludePaths:
    - ../fp-includes/smarty-4.5.5/demo/*
    - ../fp-includes/smarty-4.5.5/libs/plugins/*

  paths:
    - ..

  ignoreErrors:
    # Dynamic and global variables
    - '#Variable \$.* might not be defined#'
    - '#Undefined variable: \$.*#'

    # Plugins, dynamic methods and properties
    - '#Function .* not found.*#'

    # Constants (dynamic, possibly loaded from config)
    - '#Constant .* not found.*#'

    # Old PHPDoc tags and formatting issues
    - '#PHPDoc tag @param has invalid value \(.*\)#'
    - '#PHPDoc tag @param references unknown parameter.*#'
    - '#PHPDoc tag @param has invalid value \(string\): Unexpected token.*#'
    - '#PHPDoc tag @var has invalid value \(.*\)#'
    - '#PHPDoc tag @var has invalid value \(.*root node.*\)#'
    - '#PHPDoc tag @var has invalid value \(.*\): Unexpected token.*#'

    # Ignore error “does not accept null” only in Smarty core
    - message: '#Property .* does not accept null#'
      paths:
        - ../fp-includes/smarty-4.5.5/libs/sysplugins/*.php

    # Ignore error “Call to undefined method” only in Smarty core
    - message: '#Call to an undefined method Smarty_Internal_.*::.*#'
      paths:
        - ../fp-includes/smarty-4.5.5/libs/sysplugins/.*\.php

    # Comparison of incorrect types
    # - '#Comparison operation .* is always (true|false)#'

  checkMissingVarTagTypehint: false
  reportUnmatchedIgnoredErrors: false

  # Constants are configurable if false
  treatConstantAsCertain: false

  # Deactivates warnings via dynamic properties (e.g. Smarty::__get)
  # checkDynamicProperties: false
