parameters:
  phpVersion: 80300  # PHP 8.3
    min: 70100 # PHP 7.1
    max: 80300 # PHP 8.4
  level: 3  # Medium level

  excludePaths:
    - ../fp-includes/smarty-4.5.5/demo/*

  paths:
    - ..

  ignoreErrors:
    # Dynamic and global variables
    - '#Variable \$.* might not be defined#'
    - '#Undefined variable: \$.*#'

    # Plugins, dynamic methods and properties
    - '#Call to an undefined method.*#'
    - '#Access to an undefined property.*#'
    - '#Function .* not found.*#'

    # Constants (dynamic, possibly loaded from config)
    - '#Constant .* not found.*#'

    # Old PHPDoc tags and formatting issues
    - '#PHPDoc tag @param has invalid value \(.*\)#'
    - '#PHPDoc tag @param references unknown parameter.*#'
    - '#PHPDoc tag @param has invalid value \(string\): Unexpected token.*#'
    - '#PHPDoc tag @var has invalid value \(.*\)#'
    - '#PHPDoc tag @var has invalid value \(.*root node.*\)#'
    - '#PHPDoc tag @var has invalid value \(.*\): Unexpected token.*#'

    # Properties that would require null|Type (legacy code)
    - '#Property .* does not accept null#'

    # Comparison of incorrect types
    #- '#Comparison operation .* is always (true|false)#'

  checkMissingVarTagTypehint: false
  reportUnmatchedIgnoredErrors: false
