
parameters:
  phpVersion:
    min: 70200 # PHP 7.2
    max: 80500 # PHP 8.5
  level: 5 # Medium level

  # Minimal Bootstrap (without Composer)
  bootstrapFiles:
    - phpstan-bootstrap.php

  dynamicConstantNames:
    - ADMIN_PANEL
    - ADMIN_PANEL_ACTION
    - BASE_DIR
    - BLOG_BASEURL
    - BLOG_ROOT
    - INDEX
    - MOD_BLOG
    - LANG_DEFAULT
    - RANDOM_HEX
    - THE_THEME
    - THEME_LEGACY_MODE
    - THEMES_DIR
    - CONTENT_DIR
    - CACHE_DIR
    - INDEX_DIR
    - IMAGES_DIR
    - ATTACHS_DIR
    - COOKIEHASH
    - COOKIE_PREFIX
    - COOKIEPATH
    - SITECOOKIEPATH
    - COOKIE_DOMAIN
    - COOKIE_SECURE
    - COOKIE_HTTPONLY
    - SAMESITE_VALUE
    - SESS_COOKIE
    - USER
    - GMT
    - BBCODE_ALLOW_HTML
    - BBCODE_ENABLE_COMMENTS
    - BBCODE_USE_EDITOR
    - BBCODE_MASK_ATTACHS
    - BBCODE_URL_MAXLEN
    - BBCODE_DEFAULT_FONT_FAMILY
    - BBCODE_USE_WRAPPER
    - BBCODE_USE_FILEWRAPPER
    - SEARCHBOX_BIG
    - PLUGIN_TAG_BL
    - PLUGIN_TAG_NOCACHE

  # Scan for type resolution, but do not analyze
  scanDirectories:
    - ../fp-includes/smarty-5.8.4/src
    - ../fp-includes/fp-smartyplugins

  excludePaths:
    analyse:
      - ../fp-includes/smarty-5.8.4/**
      - ../fp-content/compile/**
      - ../fp-content/cache/**

  paths:
    - ..

  ignoreErrors:
    # Ignore error “does not accept null” only in Smarty core
    - message: '#Property .* does not accept null#'
      paths:
        - ../fp-includes/smarty-5.8.4/src/*.php

    # Ignore error “Call to undefined method” only in Smarty core
    - message: '#Call to an undefined method Smarty_Internal_.*::.*#'
      paths:
        - ../fp-includes/smarty-5.8.4/src/.*\.php

  checkMissingVarTagTypehint: false
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
